
  .errorMessage {
    color: red;
    border: 1px solid maroon;
    padding: 15px;
    text-align: center;
  }

  .box {
    color: blue;
    background-color: aqua;
    height: 50px;
    width: 100px;
    text-align: center;
  }


  



