* {
        box-sizing: border-box;
        border: 2px;
        color:
       
}

    .france > .blue {
        background: blue;
        height: 600px;
        width: 33%;
        display: inline-block;
    }

    .france > .white {
        background: white;
        height: 600px;
        width: 33%;
        display: inline-block;
    }

    .france > .red {
        background: red;
        height: 600px;
        width: 33%;
        display: inline-block;
    }

    .germany > .black {
        background: black;
        height: 200px;
        width: 800px;
        display: inline-block;
    }

    .germany > .red {
        background: red;
        width: 800px;
        height: 200px;
        display: inline-block;
    }

    .germany > .yellow {
        background: yellow;
        height: 200px;
        width: 800px;
        display: inline-block;
    }

    .madagascar > .white {
        background: white;
        height: 400px;
        width: 200px;
        display: inline-block;
    }

    .madagascar > .right > .red {
        background: red;
        top: 1%;
        height: 200px;
        width: 400px;
        display: inline-block;
    }

    .madagascar > .right > .green {
        background: green;
        height: 200px;
        width: 400px;
        display: inline-block;
    }

    .switzerland > .red {
        background: red;
        height: 400;
        width: 400;
        display: inline-block;


    }

  


